---
// src/components/layout/Comments.astro
---

<div id="tcomment"></div>

<style is:global>
    .twikoo .tk-footer {
        display: none !important;
    }
</style>

<script is:inline>
  function initTwikoo() {
    if (document.getElementById('twikoo-script')) return;
    const script = document.createElement('script');
    script.id = 'twikoo-script';
    script.src = 'https://cdn.jsdelivr.net/npm/twikoo@1.7.9/dist/twikoo.all.min.js';
    script.onload = () => {
      twikoo.init({
        envId: 'https://comments.c0desk1.my.id/',
        el: '#tcomment',
        path: window.location.pathname,
      });
    };
    document.head.appendChild(script);
  }
  initTwikoo();
</script>
