---
// src/components/layout/DesktopNav.astro
// @ts-nocheck
import NavLink from "../ui/NavLink.astro";
import { siteConfig } from "@/config/site";
---

<nav class="hidden md:flex items-center gap-1">
  {siteConfig.navItems.map((item) => (
    <NavLink href={item.href}>
      {item.label}
    </NavLink>
  ))}
</nav>