---
// src/components/layout/Header.astro

import Logo from "@/components/ui/Logo.astro";
import DesktopNav from "./DesktopNav.astro";
import MobileNav from "./MobileNav.astro";
import SearchButton from "@/components/ui/SearchButton.astro";
import ThemeToggle from "@/components/ui/ThemeToggle.astro";
import Container from "../ui/Container.astro";
---

<header class="sticky top-0 z-50 w-full border-b border-zinc-200/80 dark:border-zinc-800/80 bg-white/80 dark:bg-zinc-950/80 backdrop-blur-md">
  <Container size="md" class="mx-auto">
    <div class="flex h-14 sm:h-16 items-center justify-between gap-4">
      <Logo />
      <DesktopNav />
      <div class="flex items-center gap-1">
        {/* <SearchButton /> */}
        <ThemeToggle />
        <MobileNav />
      </div>
    </div>
  </Container>
</header>