---
// src/components/layout/Header.astro
import Container from "@/components/ui/Container.astro";

import Logo from "@/components/ui/Logo.astro";
import DesktopNav from "./DesktopNav.astro";

import SearchButton from "@/components/ui/SearchButton.astro";
import MenuButton from "@/components/ui/MenuButton.astro";
import LanguageSwitcher from "@/components/ui/LanguageSwitcher.astro";

interface Props {
  alternateSlugs?: 
    Record<string, string>
  ;
  
  basePath?: 
    'blog' | 
    'portfolio' | 
    'legal' | 
    ''
  ;
}

const { 
  alternateSlugs, 
  basePath = '' 
} = Astro.props;
---

<header id="main-header" class="sticky top-0 z-50 mx-auto w-full bg-(--bg)">
  <Container size="full">
    <div class="flex h-15 items-center justify-baseline">
      <div class="flex items-center gap-6">
        <Logo />
        <DesktopNav />
      </div>
      <div class="ml-auto flex items-center gap-2">
        <SearchButton />
        <LanguageSwitcher alternateSlugs={alternateSlugs} basePath={basePath} />
        <MenuButton />
      </div>
    </div>
  </Container>
</header>

<style is:global>
  #main-header {
    box-shadow: 0 0px 0 0 transparent;
  }
  
  #main-header.scrolled {
    box-shadow: 0 1px 0 0 var(--border);
  }
</style>

<script>
  const header = document.getElementById('main-header');
  
  if (header) {
    const updateHeaderBorder = () => {
      if (window.scrollY > 0) {
        header.classList.add('scrolled');
      } else {
        header.classList.remove('scrolled');
      }
    };
    
    window.addEventListener('scroll', updateHeaderBorder);
    updateHeaderBorder();
  }
</script>