---
//src/components/layout/PostAction.astro

import Listen from '@/components/ui/ListenButton.astro';

---

<div class="flex items-center flex-wrap justify-start md:justify-center gap-4">
  <Listen />
</div>
