---
// src/components/layout/PostMeta.astro

import { formatDate, getReadingTime } from '@/lib/utils';
import Icon from '@/components/ui/Icon';

interface Props {
  pubDate: Date;
  content: string;
  lang?: string;
}

const { pubDate, content, lang = 'en' } = Astro.props;

const formattedDate = formatDate(pubDate, lang);
const readingTime = getReadingTime(content, lang);
---

<div class="flex flex-row items-center justify-between w-full gap-4 pt-2">
  <div class="flex flex-row items-center justify-start gap-1.5 flex-initial text-muted">
    <span class="hidden text-copy-14 font-medium text-muted whitespace-nowrap" id="twikoo_visitors">0</span>
    <Icon name="clock" className="w-4 h-4" />
    {readingTime && <span class="text-copy-14 font-medium">{readingTime}</span>}
  </div>
  <time datetime={pubDate.toISOString()} class="text-copy-14! font-medium text-muted whitespace-nowrap order-2 md:order-3">
    {formattedDate}
  </time>
</div>
