---
// src/components/layout/PostMeta.astro
import { formatDate, getReadingTime } from '@/lib/utils';
import { getCurrentLocale } from '@/utils/i18n';
import Icon from '@/components/ui/Icon';

interface Props {
  pubDate: Date;
  content: string;
}

const { pubDate, content } = Astro.props;
const locale = getCurrentLocale(Astro);

const dateLocale =
  locale === 'id' ? 'id-ID' :
  locale === 'ru' ? 'ru-RU' :
  locale === 'jp' ? 'ja-JP' :
  'en-US';

const formattedDate = formatDate(pubDate, dateLocale);
const readingTime = getReadingTime(content, locale as 'id' | 'en' | 'ru' | 'jp');
---

<div class="flex flex-row items-center justify-between flex-initial w-full gap-4 pt-2">
  <div class="flex flex-row items-center justify-start gap-1.5 flex-initial text-[14px] text-(--fg-muted)">
    <Icon name="clock" className="w-4 h-4" />
    {readingTime && ( <span class="whitespace-nowrap">{readingTime}</span>)}
  </div>
  <time datetime={pubDate.toISOString()} class="text-[14px] text-(--fg-muted) order-2 md:order-3 whitespace-nowrap">{formattedDate}</time>
</div>