---
//src/components/layout/PostAction.astro

import Listen from '@/components/ui/ListenButton.astro';
import Copy from '@/components/ui/CopyButton.astro';
---

<div class="flex items-center justify-start md:justify-center gap-4">
  <Listen />
  <Copy />
</div>
