/* src/styles/prose/base.css */

.prose {
  max-width:                initial;
  text-rendering:           optimizeLegibility;
  -webkit-font-smoothing:   antialiased;
  -moz-osx-font-smoothing:  grayscale;
  font-feature-settings:    "ss01" on, "ss02" on, "kern" on;
  hanging-punctuation:      first last;
}
.prose > :first-child { margin-top:0!important }
.prose > :last-child { margin-bottom:0!important }