/* src/styles/prose/base.css */
@reference '@/styles/utilities.css';

.prose{
  max-width:initial;
  font-family:var(--prose-font-sans);
  font-feature-settings:"kern" 1,"liga" 1,"calt" 1;
  color:var(--prose-fg);
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}

.prose>:first-child{
  margin-top:0!important
}

.prose>:last-child{
  margin-bottom:0!important
}