/* ==================== BLOCKQUOTE ==================== */
.prose-custom .quote {
  margin: 2.5rem 0;
  border: none;
  background: none;
  padding: 0;
}

.prose-custom .quote-body p {
  margin: 0;
  font-size: 1.375rem;
  font-style: italic;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: var(--prose-fg);
  text-align: start;
}

.prose-custom .quote-body p + p {
  margin-top: 1rem;
}

.prose-custom .quote-body p a {
  color: var(--prose-accent);
}

.prose-custom .quote-body .external-icon { 
  width: 0 !important; 
  height: 0 !important;
  display: none !important;
}


.prose-custom .quote-body p:first-of-type::before {
  content: '❝';
  margin-right: 0.25rem;
  color: var(--prose-fg);
}

.prose-custom .quote-body p:last-of-type::after {
  content: '❞';
  margin-left: 0.25rem;
  color: var(--prose-fg);
}

.prose-custom .quote-cite {
  display: block;
  margin-top: 1.5rem;
  width: fit-content;
  margin-left: auto;
  font-size: 0.875rem;
  color: var(--prose-fg-subtle);
  font-style: normal;
}

.prose-custom .quote-cite::before {
  content: '— ';
}