@reference '@/styles/utilities/index.css';

.prose-custom .changelog-version h2,
.prose-custom .changelog-version h3,
.prose-custom .changelog-version h4 {
    @apply text-heading-18;
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.prose-custom .changelog-item :first-child {
    margin-top: 0 !important;
}

.prose-custom .changelog-item :last-child {
    margin-bottom: 0 !important;
}

.prose-custom .changelog-item h2,
.prose-custom .changelog-item h3,
.prose-custom .changelog-item h4 {
    margin-top: 0 !important;
    text-transform: uppercase;
}

.prose-custom .changelog-item p {
    margin-top: 0 !important;
    margin-bottom: 0.5rem !important;
}

.prose-custom .changelog-items ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.prose-custom .changelog-items li {
    @apply text-copy-16;
    position: relative;
    padding-left: 1rem;
    margin-bottom: 0.3rem;
    color: var(--prose-fg-muted);
}

.prose-custom .changelog-items li::before {
    content: '–';
    position: absolute;
    left: 0;
    color: var(--prose-list-marker);
}