@reference '@/styles/utilities/index.css';

.prose-custom .changelog-item :first-child {
    margin-top: 0 !important;
}
.prose-custom .changelog-item :last-child {
    margin-bottom: 0 !important;
}

.prose-custom .changelog-version h2,
.prose-custom .changelog-version h3,
.prose-custom .changelog-version h4 {
    @apply text-heading-16;
}

.prose-custom .changelog-items p {
    @apply text-copy-14;
}

.prose-custom .changelog-items ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.prose-custom .changelog-items li {
    @apply text-copy-14;
    position: relative;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    color: var(--prose-fg-muted);
}

.prose-custom .changelog-items li::before {
    content: '–';
    position: absolute;
    left: 0;
    color: var(--prose-list-marker);
}