/* src/styles/prose/changelog.css */

.prose .changelog-item :first-child {
    margin-top: 0 !important;
}
.prose .changelog-item :last-child {
    margin-bottom: 0 !important;
}

.prose .changelog-version h2,
.prose .changelog-version h3,
.prose .changelog-version h4 {
    @apply text-heading-16;
    color: var(--prose-fg-strong);
}

.prose .changelog-items p {
    @apply text-body-14;
    color: var(--prose-fg-muted);
}

.prose .changelog-items ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.prose .changelog-items li {
    @apply text-body-14;
    position: relative;
    padding-left: 1.25rem;
    margin-bottom: 0.5rem;
    color: var(--prose-fg-muted);
}

.prose .changelog-items li::before {
    content: '—';
    position: absolute;
    left: 0;
    color: var(--prose-border-strong);
    font-weight: 700;
}