/* src/styles/prose/list.css */
.prose .steps,
.prose .steps-container > ol,
.prose .steps-container > ul {
  margin: 2rem 0;
  padding: 0;
  list-style: none;
  counter-reset: step;
}

.prose .steps h2,
.prose .steps h3,
.prose .steps h4 {
  @apply text-heading-16;
  color: var(--fg-strong);
}

.prose .steps * .heading-anchor {
  width: 0.85rem;
  height: 0.85rem;
}

.prose .steps ul,
.prose .steps ol,
.prose .steps p {
  @apply text-body-16;
}

.prose .steps > li,
.prose .steps-container > ol > li,
.prose .steps-container > ul > li {
  position: relative;
  counter-increment: step;
  min-height: 1.75rem;
  padding-inline-start: 2.5rem;
  padding-left: 2.5rem;
  padding-bottom: 1.25rem;
}

.prose .steps > li::marker,
.prose .steps-container > ol > li::marker,
.prose .steps-container > ul > li::marker {
  content: "";
}

.prose .steps > li::before,
.prose .steps-container > ol > li::before,
.prose .steps-container > ul > li::before {
  @apply text-numeric-14;
  content: counter(step);
  position: absolute;
  inset-inline-start: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.65rem;
  height: 1.65rem;
  aspect-ratio: 1/1;
  border-radius: var(--radius-full);
  padding: 0 !important;
  color: var(--fg-strong);
  border: 1.5px solid rgb(from var(--border) r g b / 0.6);
  background-color: var(--bg-subtle);
  box-shadow: 0 0 0 1.5px var(--bg-muted);
}

.prose .steps > li::after {
  content: "";
  position: absolute;
  inset-inline-start: 0.825rem;
  top: 2rem;
  bottom: 0;
  width: 0.5px;
  background-color: rgb(from var(--border) r g b / 0.8);;
  transform: translateX(-50%);
}

.prose .steps > li:last-child::after {
  display: none;
}

.prose .steps > li > :first-child {
  margin-top: 0 !important;
}

.prose .steps > li > :last-child {
  margin-bottom: 0 !important;
}

.prose .steps > li:last-child {
  padding-bottom: 0 !important;
}

.prose ul,
.prose ol {
  @apply text-body-16;
  margin-bottom: 2rem;
  padding-left: 2rem;
  color: var(--fg);
}

.prose ul ::marker,
.prose ol ::marker {
  color: var(--fg-subtle);
}

.prose ul {
  list-style-type: disc;
  list-style-position: outside;
}

.prose ol {
  list-style-type: decimal;
  list-style-position: outside;
}

.prose ol ol {
  list-style-type: lower-alpha;
}

.prose ol ol ol {
  list-style-type: lower-roman;
}

.prose li {
  margin-bottom: 8px;
}

.prose li > * {
  margin-bottom: 8px;
}

.prose li:last-child {
  margin-bottom: 0;
}

.prose ol li {
  padding-left: 0.5rem;
}

.prose ul ul,
.prose ol ol,
.prose ul ol,
.prose ol ul {
  margin: 8px 0;
}

.prose ul:has(input[type="checkbox"]) {
  
  padding-left: 1rem;
  list-style: none;
}

.prose ul:has(input[type="checkbox"]) li {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 0 !important;
  margin-bottom: 8px;
}

.prose ul:has(input[type="checkbox"]) li::before {
  content: none;
}

.prose ul:has(input[type="checkbox"]) li input[type="checkbox"] {
  position: relative;
  flex-shrink: 0;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  border: 1px solid var(--border);
  border-radius: var(--radius-sm);
  background-color: var(--bg-subtle);
  width: 1.115rem;
  height: 1.115rem;
  margin-top: 0.25rem;
  transition: all var(--duration) var(--ease-out);
}

.prose ul:has(input[type="checkbox"]) li input[type="checkbox"]:hover {
  border-color: var(--fg-strong);
}

.prose ul:has(input[type="checkbox"]) li input[type="checkbox"]:checked {
  border-color: var(--accent);
  background-color: var(--bg-muted);
}

.prose ul:has(input[type="checkbox"]) li input[type="checkbox"]:checked::after {
  position: absolute;
  top: 2px;
  left: 5px;
  transform: rotate(45deg);
  border: solid var(--bg);
  border-width: 0 2px 2px 0;
  width: 5px;
  height: 10px;
  content: "";
}

.prose ul:has(input[type="checkbox"]) li input[type="checkbox"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  border-color: var(--border);
  background-color: var(--bg-muted);
}

.prose
  ul:has(input[type="checkbox"])
  li
  input[type="checkbox"]:disabled:checked {
  border-color: var(--accent-ring);
  background-color: var(--accent);
  opacity: 1;
}


@media (min-width: 768px) {
  .prose ul,
  .prose ol,
  .prose ul:has(input[type="checkbox"]) {
    @apply text-body-16;
  }
}
