@media print {
  .prose-custom a[href]::after {
    content: " (" attr(href) ")";
    font-size: .75em;
    color: var(--prose-fg-subtle);
  }
  .prose-custom pre,
  .prose-custom blockquote {
    page-break-inside: avoid;
  }
  .prose-custom h2,
  .prose-custom h3 {
    page-break-after: avoid;
  }
  .prose-custom img {
    max-width: 100% !important;
  }
}