---
// src/pages/index.astro
import { getCollection } from 'astro:content';
import { sortByDate } from '@/lib/utils';
import { siteConfig } from '@/config/site';

import BaseLayout from '@/layouts/BaseLayout.astro';
import Hero from '@/components/ui/Hero-BC.astro';
import HomeBlogSection from '@/components/home/HomeBlogSection.astro';
import HomePortfolioSection from '@/components/home/HomePortfolioSection.astro';

const allPosts = await getCollection('blog', ({ data }) => !data.draft);
const blogPosts = sortByDate(allPosts).slice(0, 4);

const allProjects = await getCollection('portfolio', ({ data }) => !data.draft);
const portfolioProjects = sortByDate(allProjects, 'date').slice(0, 2);

const seoData = {
  title: siteConfig.name,
  description: siteConfig.description,
  type: "website" as const,
};
---

<BaseLayout {...seoData}>
  <Hero />
  <HomeBlogSection posts={blogPosts} />
  <div id="yandex_rtb_R-A-19135204-3"></div>
  <HomePortfolioSection projects={portfolioProjects} />
</BaseLayout>