---
// src/components/home/HomeBlogSection.astro

import PostCard from '@/components/blog/PostCard.astro';
import Container from '../ui/Container.astro';

interface Props {
  posts: any[];
}

const { posts } = Astro.props;
---

<section class="section-divider">
  <Container size="md" class="py-10 md:py-20">
    <div class="flex items-end justify-start mb-8">
      <div class="space-y-1">
        <h2 class="text-3xl md:text-4xl font-semibold tracking-tighter">
           Terbaru
        </h2>
      </div>
    </div>
    {posts.length > 0 ? (
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 divide-y md:divide-y-0 divide-black/20 dark:divide-white/5">
		    {posts.map(post => (
      		<PostCard post={post} />
  		  ))}
	    </div>
    ) : (
      <div class="py-10 text-center">
        <p class="text-zinc-500 dark:text-zinc-400 text-sm">
          Belum ada postingan blog.
        </p>
      </div>
    )}
    <div class="flex justify-center-safe py-8">
      <a href="/blog/"
        class="group flex items-center px-2 md:px-3 py-1.5 rounded-full border border-black/5 dark:border-zinc-800 hover:bg-black/5 dark:hover:bg-white/5 text-center text-sm md:text-[13px] text-zinc-500 hover:text-zinc-900 dark:hover:text-white transition-colors">
        <span>Lihat semua</span>
      </a>
    </div>
  </Container>
</section>