---
// src/components/home/HomeBlogSection.astro

import PostCard from '@/components/blog/PostCard.astro';
import Container from '../ui/Container.astro';

interface Props {
  posts: any[];
}

const { posts } = Astro.props;
---

<section class="section-divider">
  <Container size="md" class="py-8 md:py-16">
    <div class="flex items-end justify-between mb-6 p-4 md:p-8">
      <div class="space-y-1">
        <h2 class="text-3xl md:text-4xl font-semibold tracking-tighter">
           Terbaru
        </h2>
      </div>
      <a
        href="/blog"
        class="group flex items-center gap-1 px-2 py-1.5 rounded-full hover:bg-black/5 dark:hover:bg-white/5 text-center text-xs md:text-sm text-zinc-500 hover:text-zinc-900 dark:hover:text-white transition-colors"
      >
        <span>Lihat semua</span>
        <span class="opacity-0 group-hover:opacity-100 group-hover:translate-x-0.5 transition-transform">→</span>
      </a>
    </div>
    {posts.length > 0 ? (
      <div class="grid grid-cols-1 md:grid-cols-3 divide-y md:divide-y-0 divide-black/20 dark:divide-white/5">
		    {posts.map(post => (
      		<PostCard post={post} />
  		  ))}
	    </div>
    ) : (
      <div class="py-10 text-center">
        <p class="text-zinc-500 dark:text-zinc-400 text-sm">
          Belum ada postingan blog.
        </p>
      </div>
    )}
  </Container>
</section>