---
// src/components/Navbar.astro
import Container from "./ui/Container.astro";
import Logo from "./ui/Logo.astro";
import Nav from "./Nav.astro";
import Menu from "./Menu.astro";
import SearchBar from "./SearchBar.astro";
---

<header id="main-header" class="fixed top-0 z-50 mx-auto w-full bg-base">
  <Container size="full">
    <div class="relative flex items-center h-(--header-height)">
      <div class="flex items-center shrink-0">
        <Logo />
      </div>
       <div class="absolute inline-flex left-1/2 -translate-x-1/2 order-2">
        <Nav />
      </div>
      <div class="ml-auto flex items-center gap-2 lg:gap-3 order-3">
        <SearchBar />
        <Menu />
      </div>
    </div>
  </Container>
  <div class="absolute bottom-0 left-0 right-0 h-px bg-(--border) transition-opacity duration-300" id="header-border"></div>
</header>
<div class="h-(--header-height) hidden" aria-hidden="true"></div>