---
import PostCard from '@/components/blog/PostCard.astro';
import Button from '@/components/ui/Button.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
  posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;
---

<div class="py-4 md:py-8">
  <div class="mb-4 md:mb-8">
    <h2 class="text-(--fg) text-3xl md:text-4xl font-semibold tracking-tighter">
      Terbaru.
    </h2>
  </div>
  {posts.length > 0 ? (
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      {posts.map(post => (
        <div class="p-0">
          <PostCard post={post} />
        </div>
      ))}
    </div>
  ) : (
    <div class="py-12 text-center border border-dashed border-(--border) rounded-lg">
      <p class="text-(--fg-subtle) text-base md:text-lg">
        Belum ada postingan blog.
      </p>
    </div>
  )}

  <div class="flex justify-center my-16">
    <Button href="/blog/" variant="secondary" size="md">
      Lihat semua
    </Button>
  </div>
</div>
