---
// src/components/section/PortfolioSection.astro

import Button from '../ui/Button.astro';
import ProjectCard from '@/components/portfolio/PortfolioCard.astro';

interface Props {
  projects: any[];
}

const { projects } = Astro.props;
---

<div class="section-divider py-10 md:py-20">
  <div class="mb-8">
    <h2 class="text-2xl md:text-3xl font-semibold text-black dark:text-white">
      Proyek Terbaru
    </h2>
  </div>
  {projects.length > 0 ? (
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 divide-y md:divide-y-0 divide-black/20 dark:divide-white/5">
      {projects.map((project) => (
        <ProjectCard project={project} />
       ))}
    </div>
  ) : (
    <div class="py-12 text-center border border-dashed border-neutral-200 dark:border-neutral-800 rounded-lg">
      <p class="text-neutral-500 dark:text-neutral-400 text-sm">
        ▼ Belum ada proyek.
      </p>
    </div>
  )}
    <div class="flex justify-center mt-8">
    <Button href="/portfolio/" variant="secondary" size="md">
      Lihat semua
    </Button>
  </div>
</div>