---
// src/components/status/StatusBadge.astro
import StatusDot from "./statusDot.astro";
const { data } = Astro.props;
---

<button
  id="status-toggle"
  class="flex items-center gap-2 text-xs text-zinc-600 dark:text-zinc-300 hover:text-black dark:hover:text-white transition"
>
  <StatusDot status={data.overall} />
  <span>
    {data.overall === "operational" && "All Systems Operational"}
    {data.overall === "degraded" && "Degraded Performance"}
    {data.overall === "outage" && "Major Outage"}
  </span>
</button>