---
import Icon from '../ui/icons/Icon.astro';

// src/components/mdx/Badge.astro
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<span class="badge flex text-label-11! lg:text-label-13! gap-1"><Icon name='badge' className='w-4.5 h-4.5 text-accent' />{text}</span>