---
// src/components/mdx/CallQuote.astro

import Icon from '@/components/ui/Icon';

const raw = await Astro.slots.render('default');
const cleanRaw = raw
  .replace(/^<p>/, '')
  .replace(/<\/p>$/, '')
  .trim();

const alertTypes = {
  '[!NOTE]': { type: 'note', icon: 'note' },
  '[!INFO]': { type: 'info', icon: 'info' },
  '[!TIP]': { type: 'tip', icon: 'tip' },
  '[!WARNING]': { type: 'warning', icon: 'warning' },
  '[!DANGER]': { type: 'danger', icon: 'danger' },
} as const;

const plainText = cleanRaw
  .replace(/<[^>]+>/g, '')
  .trim();

const activeToken = Object.keys(alertTypes).find(token =>
  plainText.startsWith(token)
);

let isAlert = false;
let alertConfig = null;
let finalQuote = '';
let finalContent = '';
let finalCite = '';

if (activeToken) {
  isAlert = true;

  alertConfig =
    alertTypes[activeToken as keyof typeof alertTypes];

  finalContent = cleanRaw
    .replace(activeToken, '')
    .trim();
} else {
  const slashRegex = /\/(?![^<]*>)/;

  const hasSlash = slashRegex.test(cleanRaw);

  if (hasSlash) {
    const parts = cleanRaw.split(slashRegex);

    finalQuote = parts[0].trim();

    finalCite = parts
      .slice(1)
      .join('/')
      .replace(/<\/?[^>]+(>|$)/g, '')
      .trim();
  } else {
    finalQuote = cleanRaw;
  }
}
---

{isAlert ? (
  <aside class="callout" data-callout={alertConfig?.type}>
    <div class="callout-body">
      <div class="callout-icon">
        <Icon name={alertConfig?.icon as any} />
      </div>

      <div class="text-copy-13 md:text-copy-14 callout-content">
        <div set:html={finalContent} />
      </div>
    </div>
  </aside>
) : (
  <blockquote class="quote flex flex-col items-stretch justify-start gap-6 lg:gap-8 flex-initial">
    <div class="quote-body">
      <div set:html={finalQuote} />
    </div>

    {finalCite && (
      <div class="flex flex-col md:flex-row items-end md:items-center justify-end gap-2 md:gap-3 flex-initial">
        <span class="quote-cite text-label-14">
          {finalCite}
        </span>
      </div>
    )}
  </blockquote>
)}
