---
import Icon from '@/components/ui/Icon.astro';

const { summary = 'Details' } = Astro.props;
---

<details class="details" data-summary={summary}>
  <summary class="details-summary">
    <Icon name="chevron-right" class="details-icon" />
    {summary}
  </summary>
  <div class="details-content">
    <slot />
  </div>
</details>