---
// src/components/mdx/Details.astro
import Icon from '@/components/ui/icons/Icon.astro';

interface Props {
  summary?: string;
}

const { summary = 'Details' } = Astro.props;
---

<details class="details">
  <summary class="text-heading-14 lg:text-heading-16 font-semibold details-summary">
    <Icon name="chevron-right" className="details-icon" />
    {summary}
  </summary>
  <div class="text-body-14 details-content">
    <slot />
  </div>
</details>