---
// src/components/mdx/FootnoteMarker.astro

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<a href={`#fn-${id}`} class="footnote-marker items-center" id={`fnref-${id}`}>
  {id}
</a>