---
// src/components/mdx/Steps.astro
---

<div class="steps-container not-prose my-12 ml-4 border-l border-zinc-200 pl-9 dark:border-zinc-900">
  <slot />
</div>

<style is:global>
  .steps-container {
    counter-reset: step;
    position: relative;
  }
  .steps-container h3 {
    counter-increment: step;
    position: relative;
    font-size: 0.875rem !important;
    font-weight: 600 !important;
    margin-top: 2.5rem !important;
    margin-bottom: 0.5rem !important;
    line-height: 1.5rem !important;
    color: #18181b !important;
  }

  .dark .steps-container h3 {
    color: #fafafa !important;
  }
  .steps-container h3:first-of-type {
    margin-top: 0 !important;
  }
  .steps-container h3::before {
    content: counter(step);
    position: absolute;
    left: calc(-2.25rem - 0.875rem - 1px); 
    top: -0.125rem;
    width: 1.75rem;
    height: 1.75rem;
    background-color: #ffffff;
    border: 1px solid #e4e4e7;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 600;
    color: #71717a;
    z-index: 20;
  }
  .dark .steps-container h3::before {
    background-color: #09090b;
    border-color: #27272a;
    color: #a1a1aa;
  }
  .steps-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -1px;
    width: 2px;
    height: calc(100% - (var(--last-h3-pos, 0) + 1.6rem)); 
    background-color: #ffffff; 
    z-index: 10;
  }
  
  .dark .steps-container::after {
    background-color: #09090b;
  }

  .steps-container h3 + p {
    font-size: 0.875rem;
    line-height: 1.625rem;
    color: #71717a;
    margin-top: 0 !important;
    margin-bottom: 1.5rem !important;
  }

  .dark .steps-container h3 + p {
    color: #a1a1aa;
  }
</style>