---
import type { CollectionEntry } from "astro:content";
import PostCard from "@/components/blog/PostCard.astro";

interface Props {
  posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-3 border-0 md:border border-(--border) divide-y md:divide-x md:divide-y-0 divide-(--border)">
  {posts.map((post) => (
    <div class="divide-x divie-(--border)">
      <PostCard post={post} />
    </div>
  ))}
</div>
