---
// src/components/blog/BlogRelatedPosts.astro

import type { CollectionEntry } from 'astro:content';
import RelatedPostCard from './RelatedPostCard.astro';

interface Props {
  posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;
---

{posts.length > 0 && (
  <div class="pt-8">
    <div class="flex items-center mb-6">
      <h2 class="text-lg md:text-xl font-medium text-black dark:text-white">
        Baca juga
      </h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 divide-y md:divide-y-0 divide-black/20 dark:divide-white/5 overflow-hidden">
      {posts.map(post => (
        <RelatedPostCard post={post} />
      ))}
    </div>
  </div>
)}