---
// src/components/blog/BlogContent.astro

import '@/styles/prose.css';
---

<section class="w-full">
  <div class="mx-auto max-w-3xl">
    <div class="prose-custom">
      <slot />
    </div>
  </div>
</section>