---
// src/components/blog/BlogRelatedPosts.astro

import type { CollectionEntry } from 'astro:content';
import RelatedPostCard from './RelatedPostCard.astro';

interface Props {
  posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;

---

{posts.length > 0 && (
  <div class="pt-8">
    <div class="flex items-center mb-8">
      <h2 class="text-lg md:text-xl font-medium text-(--fg)">
        Baca juga.
      </h2>
    </div>
    
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 divide-y md:divide-y-0 divide-(--border)">
      {posts.map(post => (
        <RelatedPostCard post={post} />
      ))}
    </div>
  </div>
)}