---
// src/components/blog/BlogMeta.astro
import { formatDate } from '@/lib/utils';

import Icon from '../ui/Icon.astro';

interface Props {
  pubDate: Date;
  readingTime: string;
}

const { pubDate, readingTime } = Astro.props;

const formattedDate = formatDate(pubDate);
---

<div class="flex flex-wrap items-center justify-center gap-x-2 gap-y-1 text-[13px] md:text-sm text-(--fg-muted)">
  <div class="flex items-center justify-center gap-2">
    <div class="relative w-4 h-4 items-center">
      <Icon name="clock" class="w-4 h-4" />
    </div>
    {readingTime && (
      <>
        <span class="whitespace-nowrap">
          {readingTime}
        </span>
      </>
    )}
  </div>
  <span>―</span>
  <time datetime={pubDate.toISOString()} class="whitespace-nowrap">
    {formattedDate}
  </time>
</div>
