---
import Button from '@/components/ui/Button.astro';
import Icon from '@/components/ui/icons/Icon.astro';
interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<Button
  type="button"
  swg-standard-button="contribution"
  size='sm'
  variant='secondary'
  class={`inline-flex items-center justify-center gap-2 text-button-14 border-(--prose-border-strong) text-(--prose-accent) hover:bg-(--prose-accent) hover:text-(--prose-fg-inverted) ${className}`}
>
  <Icon name="donate" className="w-4 h-4" />
  <span>Donate</span>
</Button>