---
// src/components/ui/BackToTop.astro

import Button from './Button.astro';
import Icon from './Icon';

interface Props {
  showBorder?: boolean;
  align?: 'left' | 'center' | 'right';
}

const { showBorder = true, align = 'left' } = Astro.props;

const alignClasses = {
  left: 'text-left',
  center: 'text-center',
  right: 'text-right'
};
---

<div class:list={[
  showBorder ? 'py-4 md:py-6 text-(--fg-muted) hover:text-(--fg)' : '',
  alignClasses[align]
]}>
  <Button href="#top" variant='secondary'>
    <span class="group-hover:-translate-y-0.5">
      <Icon name="arrow-up" className="w-5 h-5" />
    </span>
    <span>
      Kembali ke atas
    </span>
  </Button>
</div>
