---
// src/components/ui/BG.astro
---

<div class="fixed inset-0 pointer-events-none z-0 opacity-40">
  <div class="mx-auto h-full max-w-7xl px-1 md:px-2 lg:px-4">
    <div class="relative h-full">
      <div class="absolute inset-y-0 left-0 border-l border-solid border-(--border)"></div>
      <div class="absolute inset-y-0 left-1/2 -translate-x-1/2 border-l border-dashed border-(--border)/90"></div>
      <div class="absolute inset-y-0 right-0 border-r border-solid border-(--border)"></div>
    </div>
  </div>
</div>
